<html>
<head>
<style> 
.my-list{
background-color: #f7f381;
Padding: 8px24px;
width: 500px;
size: 30px ;
border : 1pxsolid#f7f381;
box-shadow: 0010px2px#333333
margin : auto; }

ol { margin : 12px ;}
p { text-align : center } 
</style>

<title> The Bear </title>
<link rel = "stylesheet" type= "text/css" href="to-do-list1.css"/>
</head>
<body>
<div class="my-list">
<h1> Today's To Do List </h1>
<p align =  "center" Monday sept 4th </p>
<ol>
<li> write blog </li>
<li> go bank </li>
<li> study </li>
<li> learn </li>
</ol>

</div>
</body>

</html>